.nav {

    grid-area: n;
    background-color: grey;
    text-align: center;
    padding: 20px;
    color: white;

}

.item a {
    color: white;
    text-decoration: none;
;
}
.item a.active {
    color: red;

}

